<template>
    <div class="flex flex--column flex--align-center flex--justify-center">
        <div class="title">
            <h1 class="vue">Buildings List</h1>
        </div>

        <form method="post" action="">
            <label>
                <span>
                    Name:
                </span>

                <input @keyup="filter" v-model="formData.name" type="text" name="name">
            </label>

            <label>
                <span>
                    Price:
                </span>

                <input @keyup="filter" v-model="formData.price" type="text" name="price">
            </label>

            <label>
                <span>
                    Bathrooms:
                </span>

                <input @keyup="filter" v-model="formData.bathrooms" type="text" name="bathrooms">
            </label>

            <label>
                <span>
                    Bedrooms:
                </span>

                <input @keyup="filter" v-model="formData.bedrooms" type="text" name="bedrooms">
            </label>

            <label>
                <span>
                    Garages:
                </span>

                <input @keyup="filter" v-model="formData.garages" type="text" name="garages">
            </label>

            <label>
                <span>
                    Storeys:
                </span>

                <input @keyup="filter" v-model="formData.storeys" type="text" name="storeys">
            </label>
        </form>

        <div v-if="showLoader.key">
            <img :src="'/images/loader.gif'">
        </div>

        <div class="list" v-if="buildings.key.length > 0">
            <div v-for="entry in buildings.key">
                <div>
                    <strong>Name: </strong>{{ entry.name }}
                </div>

                <div>
                    <strong>Price: </strong>{{ entry.price }}
                </div>

                <div>
                    <strong>Bathrooms: </strong>{{ entry.bathrooms }}
                </div>

                <div>
                    <strong>Bedrooms: </strong>{{ entry.bedrooms }}
                </div>

                <div>
                    <strong>Garages: </strong>{{ entry.garages }}
                </div>

                <div>
                    <strong>Storeys: </strong>{{ entry.storeys }}
                </div>
            </div>
        </div>
        <div v-else>
            No found
        </div>
    </div>
</template>

<script>
    const {default: Axios} = require('axios');
    import {ref, reactive, computed} from "vue";

    export default {
        setup() {
            let buildings = reactive({"key": []});
            let formData = reactive({
                'name': '',
                'price': '',
                'bathrooms': '',
                'bedrooms': '',
                'garages': '',
                'storeys': ''
            });
            let showLoader = reactive({'key': false});

            let getBuildings = function () {
                axios.get('/api/buildings').then(function (response) {
                    buildings.key = response.data;
                }).catch(error => {
                    console.log("Error: " + error);
                });
            };

            function filter(value) {
                showLoader.key = true;

                axios({
                    method: 'post',
                    url: '/api/buildings',
                    data: formData
                }).then((response) => {
                    buildings.key = response.data;
                    showLoader.key = false;
                }, (error) => {
                    console.log(error);
                });
            }

            getBuildings();

            return {buildings, formData, filter, showLoader}
        },
    };
</script>

<style lang="scss">
    html,
    body,
    #app {
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background: #e3e4e5;
    }

    .flex {
        display: flex;
        height: 100%;
        width: 100%;

        &--column {
            flex-direction: column;
        }

        &--align-center {
            align-items: center;
        }

        &--justify-center {
            justify-content: center;
        }
    }

    .logos {
        padding-top: 16px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 32px;
    }

    .title {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 16px;
        padding: 32px;

        .laravel {
            color: #ff291a
        }

        .vue {
            color: #41b883;
        }

        .plus {
            color: #35495e
        }
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;
        width: 70%;
        margin: 0 auto;
    }

    .list > div {
        padding: 1em 1em;
        border: 1px solid #1bb4ff;
    }

    form {
        margin-bottom: 2em;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    form input {
        padding: 0.3rem 0.3rem;
    }

    form span {
        display: block;
    }
</style>